{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title_tag %}Password Reset | {{ block.super }}{% endblock %}

{% block body_content %}
  <div class="bounds">
    <div class="grid-30 centered">
      <h2>Password Reset</h2>
      <p>Enter the email address that's associated with your account and we'll send you instructions
on how you can change your password.</p>

      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me instruction" class="btn btn-default">
        
      </form>
    </div>
  </div>
{% endblock %}
