{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body_content %}
<form method="POST">
    <div class="circle--actions--bar">
        <div class="bounds">
            <div class="grid-100">
                <input type="submit" class="button button-primary" value="Save Project"/>
                <a class="button button-text" href="{% url 'home' %}">Discard</a>
            </div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>

    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            <div class="circle--article--body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>

                {{ position_formset.management_form }}
                    <ul class="circle--group--list circle--clone--list">
                        {% for position in position_formset %}
                            <li>
                                {{ position }}
                                <br>
                                <a class="circle--clone--add">Add Position</a>
                                <a class="circle--clone--remove">Remove</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="submit" value="Save Project" class="button button-primary">

            </div>
        </div>

        <div class="grid-25 grid-push-5">

        </div>
    </div>
</form>
{% endblock %}
