{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body_content %}
  <div class="circle--actions--bar">
      <div class="bounds">
          <div class="grid-100">
              <a class="button" href="project_edit.html">Edit Project</a>
              <a class="button button-text" href="index.html">Delete Project</a>
          </div>
      </div>
  </div>

  <div class="bounds circle--page circle--article">
      <div class="grid-70">
          <div class="circle--page--header circle--fluid">
              <div class="circle--project--positions">
                  <h2>Project</h2>
              </div>
          </div>
          <div class="circle--article--body">
              <form method='POST'>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Save changes" class="button button-primary">
              </form>
          </div>
      </div>
  </div>
{% endblock %}
