{% extends "layout.html" %}
{% load static from staticfiles %}

{% block body_content %}

<div class="circle--actions--bar">
    <div class="bounds">
        {% if project.user == request.user %}
            <div class="grid-100">
                <a class="button" href="{% url "projects:project_edit" pk=project.pk %}">Edit Project</a>
                <a class="button" href="{% url "projects:delete" pk=project.pk %}">Delete Project</a>
            </div>
        {% endif %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
</div>

<div class="bounds circle--page circle--article">
    <div class="grid-70">
        <div class="circle--article--header">
            <h4 class="circle--article--section">Project</h4>
            <h1 class="circle--article--title">{{ project.title }}</h1>
            <p class="circle--article--byline">Project Owner: <a href="{% url 'accounts:profile_detail' pk=project.user.id %}">{{ project.user }}</a></p>
        </div>

        <div class="circle--article--body">
            {{ project.description }}
        </div>


        <div class="circle--project--positions">
            <h2>Positions</h2>

            <ul class="circle--group--list">
                {% for position in positions %}
                    <li>
                        <h3>{{ position.title }}</h3>
                        <p>{{ position.description }}</p>
                        {% if project.user != request.user %}
                            {% if position.position_filled == True %}
                                <a class="button button-primary button-inactive">Position Filled</a>
                            {% elif request.user in position.applicants.all %}
                                <a class="button button-primary button-inactive">Applied</a>
                            {% else %}
                                <a class="button button-primary" href="{% url "projects:apply" pk=project.pk position_pk=position.pk %}">Apply</a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="grid-25 grid-push-5">
        <div class="circle--secondary--module">
            <h3>Project Needs</h3>

            <ul class="circle--link--list">
                {% for position in positions %}
                    <li><a>{{ position.skill }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="circle--secondary--module">
            <h3>Project Timeline</h3>
            <p>{{ project.estimated_time }} hours</p>
        </div>

        <div class="circle--secondary--module">
            <h3>Applicant Requirements</h3>
            <p>{{ project.requirements }}.</p>
        </div>
    </div>
</div>
{% endblock %}
